.user_info{
	width: 100%;
	height: auto;
	background: url(../images/user_bg.png) no-repeat;
	background-size:100% auto;
	color: white;
	font-size: .3rem;
	position: relative;
	padding-bottom: .58rem;
	content: '';
	overflow: hidden;
	clear: both;
}
.user_Mes{
	display: flex;
}
.user_img{
	width: 1.5rem;
	height: 1.5rem;
}
.grade{
	margin-top: .3rem;
	margin-left: 4%;
	line-height: .72rem;
	font-size: .30rem;
}
.user_Mes div{
	flex: 1;
	text-align: center;
}
.user_Mes div:nth-child(1){
	text-align: right;
}
.user_Mes div:nth-child(2) p{
	margin-top: .3rem;
}
.user_Mes div:nth-child(3){
	margin-top: 1rem;
}
.member{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: black;
	background: rgba(0,0,0,0.3);
	height: .58rem;
	line-height: .3rem;
	display: flex;
}
.member p{
	width: 50%;
	height: .3rem;
	box-sizing: border-box;
	text-align: center;
	margin-top: .12rem;
}
.upgrade{
	border-right: .06rem solid #987864;
}
.memberbar img{
	width: 1.2rem;
	height: 1rem;
}
.memberbar{
	text-align: center;
	font-size: .24rem;
}
