.user_info{
	width: 100%;
	height: auto;
	background: url(../images/user_bg.png) no-repeat;
	background-size:100% auto;
	color: white;
	font-size: .3rem;
	position: relative;
	padding-bottom: .58rem;
	content: '';
	overflow: hidden;
	clear: both;
}
.user_Mes{
	display: flex;
}
.user_img{
	width: 1.5rem;
	height: 1.5rem;
}
.grade{
	margin-top: .3rem;
	margin-left: 4%;
	line-height: .72rem;
	font-size: .30rem;
}
.user_Mes div{
	flex: 1;
	text-align: center;
}
.user_Mes div:nth-child(1){
	text-align: right;
}
.user_Mes div:nth-child(2) p{
	margin-top: .3rem;
}
.user_Mes div:nth-child(3){
	margin-top: 1rem;
}
.member{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: black;
	background: rgba(0,0,0,0.3);
	height: .58rem;
	line-height: .3rem;
}
.member p{
	width: 50%;
	float: left;
	height: .3rem;
	box-sizing: border-box;
	text-align: center;
	margin-top: .12rem;
}
.upgrade{
	border-right: .06rem solid #987864;
}
.memberbar img{
	width: 1.2rem;
	height: 1rem;
}
.memberbar{
	text-align: center;
	font-size: .24rem;
	
}
.memberbar ul{
	margin-top:.23rem;
	content: "";
	overflow: hidden;
	clear: both;
}
.memberbar ul li{
	border-right: 1px solid #d1d1d1;
	margin-bottom: .23rem;
}
.memberbar ul >a{
	width: 50%;
	display: inline-block;
	float: left;
	border-bottom: 1px solid #d1d1d1;
}
.memberbar dd{
	color: #010101;
}
.memberarea{
	width: 100%;
	padding: 0 4%;
	font-size: .24rem;
	content: "";,
	overflow: hidden;
	clear: both;
	height: 1.55rem;
	border-bottom: 1px solid #d1d1d1;
}
.memberarea >div{
	width: 25%;
	float: left;
	text-align: center;
	margin-top: .35rem;
	
	
}
.memberarea img{
	width: .6rem;
	height: .6rem;
}
.membercode p,.memberfun p{
	font-size: .16rem;
	line-height: .2rem;
	color: #000000;
}
.memberadd{
	width: 10% !important;
	position: relative;
	left: .2rem;
}
.memberfun{
	width: 40% !important;
}
.empty{
	width: 96%;
	height: 1.35rem;
	background: #b0b0b0;
	margin: 0 auto;
	margin-top: .5rem;
	margin-bottom: .2rem;
}
