.rechargetitle{
	font-size: .34rem;
	line-height: .5rem;
	padding-top: .18rem;
	padding-left: 4%;
}
.pricelist{
	width: 100%;
	padding: 0 4%;
	content: '';
	overflow: hidden;
	clear: both;
	border-bottom: 1px solid #D1D1D1;
	padding-bottom: .1rem;
}
.rechargeprice{
	width: 30%;
	height: .7rem;
	font-size: .3rem;
	text-align: center;
	background: white;
	float: left;
	border-radius: .2rem;
	margin: .2rem 0;
	color: #a1a1a1;
	border: 3px solid #A1A1A1;
	box-sizing: border-box;
}
.pricelist p:nth-child(2){
	margin: .2rem 4%;
}
.pricelist p:nth-child(5){
	margin: .2rem 4%;
}
.rechargeprice span{
	display: block;
	line-height: .4rem;
}
.rechargeprice span:last-of-type{
	line-height: .1rem !important;
	font-size: .2rem;
}
.backcolor{
	background: #ffa835 !important;
	color: white !important;
	border: 3px solid #FFA835; 
}
.rechargenum{
	width: 100%;
	padding: 0 4%;
	font-size: .3rem;
	line-height: 1.34rem;
	content: '';
	overflow: hidden;
	clear: both;
	
}
.rechargenum span:nth-child(1){
	float: left;
}
.rechargenum span:nth-child(2){
	display: block;
	width: 30%;
	height: .7rem;
	text-align: center;
	line-height: .6rem;
	float: right;
	border: 3px solid #FFA835; 
	box-sizing: border-box;
	color: #FFA835;
	border-radius: .2rem;
	margin-top: .32rem;
}
.rechargeapply{
	font-size: .34rem;
	line-height: .8rem;
	height: .8rem;
	padding-left: 4%;
	background: #e2e2e2;
}
.applylist{
	font-size: .3rem;
	height: 1rem;
	line-height: 1rem;
	position: relative;
	border-bottom: 1px solid #D1D1D1;
	background: white;
}

.applylist >img{
	width: .8rem;
	height: .7rem;
	position: absolute;
	top: .15rem;
	left: 3%;
}
.applylist span{
	margin-left: 1.4rem;
}

.applylist .checked{
	width: .46rem;
	display: inline-block;
	height: .46rem;
	border-radius: .46rem;
	position: relative;
	float: right;
	margin-top: .27rem;
	margin-right:4%;
	box-sizing: border-box;
}
.bordercolor01{
	border: #FFA835 solid 2px !important;
}
.bordercolor02{
	border: #b2b2b2 solid 2px !important;
}
.applylist .checked img{
	width: .7rem;
	height:.7rem;
	position: absolute;
	top: -0.14rem;
	left: -0.14rem;
}
.choise{
	width: .46rem;
	display: inline-block;
	height: .46rem;
	border-radius: .46rem;
	position: relative;
	margin-top: .27rem;
	margin-right:4%;
	box-sizing: border-box;
}
.choise img{
	width: .7rem;
	height:.7rem;
	position: absolute;
	top: -0.14rem;
	left: -0.14rem;
}
.goapply{
	width: 95% !important;
	margin-left: 2.5% !important;
	height: .7rem;
	line-height: .7rem;
	font-size: .34rem;
	text-align: center;
	background: -moz-linear-gradient(left, #ffa800 0%,#ff7900 100%);
	background: -webkit-gradient(left, #ffa800 0%,#ff7900 100%);
	background: -webkit-linear-gradient(left, #ffa800 0%,#ff7900 100%);
	background: -o-linear-gradient(left, #ffa800 0%,#ff7900 100%);
	background: -ms-linear-gradient(left, #ffa800 0%,#ff7900 100%);
	background: linear-gradient(left, #ffa800 0%,#ff7900 100%);
	color: white;
	margin-top: .5rem;
}
.Tips{
	margin-top: .4rem;
	margin-left: .55rem;
	font-size: .16rem;
	line-height: .26rem;
	margin-bottom: 1rem;
}
.pricemoneynumber{
	width: 30%;
	outline: none;
	height: .7rem;
	line-height: .7rem;
	font-size: .3rem;
	text-align: center;
	border: 3px solid #FFA835;
	border-radius: .2rem;
	float: right;
	margin-top: .32rem;
}
