/*精准推送*/
.h_require{font-size: 0.24rem;margin-bottom:0.24rem;border-bottom: 1px solid #dedede;}
.h_require .h_ad{width: 100%;height: 2.18rem;}
.h_require .h_ad>img{width: 100%;height:100%;display: block;}
.h_require .h_tips{color: #fff;padding:0.1rem 0.04rem 0.24rem;font-size: 0.24rem;position: relative;}
.h_require .h_tips:after{content: '';display: block;position: absolute;bottom: 0;left:50%;margin-left:-0.09rem;border-color: transparent transparent #fff transparent;border-width: 0.18rem;border-style: solid;}
.h_require .h_r_form{}
.h_require .h_r_row{background-color: #fff;border-bottom: 1px solid #dedede;padding: 0.14rem 0.04rem 0.14rem 0.28rem;overflow: auto;}
.h_require .h_r_row:last-child{border-bottom:none;}
.h_require .h_r_row .h_r_col{width: 50%;float: left;}
.h_require .h_r_row .h_r_col_txt{margin-right:0.1rem;}
.h_require .h_r_row .h_r_col_input_1{width:70%;border:none;font-size: 0.22rem;height: 0.36rem;}
.h_require .h_r_row .h_r_col_input_2{width:40%;border:none;font-size: 0.22rem;height: 0.36rem;}
.h_require .h_r_row .h_r_row_txt{display: inline-block;width:50%;height: 0.36rem;line-height: 0.36rem;font-size: 0.26rem;}
.h_require .h_r_row .h_r_row_input{width:40%;border:none;font-size: 0.22rem;height: 0.36rem;}
.h_require .h_r_row .date_select{width:40%;font-size: 0.22rem;height: 0.36rem;display: inline-block;vertical-align: middle;position: relative;}
.h_require .h_r_row .date_select:after{content: " ";display: inline-block;-webkit-transform: rotate(45deg);transform: rotate(45deg);height: 8px;width: 8px;border-width: 1px 1px 0 0;border-color: #c8c8cd;border-style: solid;position: absolute;top: 50%;right: 0;margin-top: -5px;}
.h_require .h_r_row .h_r_row_radio{width:40%;font-size: 0.22rem;height: 0.36rem;display: inline-block;}
.h_require .h_r_row .city_select{width:40%;font-size: 0.22rem;height: 0.36rem;display: inline-block;vertical-align: middle;position: relative;}
.h_require .h_r_row .city_select:after{content: " ";display: inline-block;-webkit-transform: rotate(45deg);transform: rotate(45deg);height: 8px;width: 8px;border-width: 1px 1px 0 0;border-color: #c8c8cd;border-style: solid;position: absolute;top: 50%;right: 0;margin-top: -5px;}
.h_require .h_r_row .h_r_row_radio{width:40%;font-size: 0.22rem;height: 0.36rem;display: inline-block;}
.h_require .h_r_row .select_wrap{width:40%;position: relative;display: inline-block;vertical-align: middle;}
.h_require .h_r_row .h_r_row_select{width:100%;border:none;font-size: 0.22rem;height: 0.36rem;border-radius: 0;background-color: transparent;}
.h_require .h_r_row .select_wrap:after{content: " ";display: inline-block;-webkit-transform: rotate(45deg);transform: rotate(45deg);height: 8px;width: 8px;border-width: 1px 1px 0 0;border-color: #c8c8cd;border-style: solid;position: absolute;top: 50%;right: 0;margin-top: -5px;}
.h_require .h_r_row .h_r_row_radio{width:40%;font-size: 0.22rem;height: 0.36rem;display: inline-block;}
.h_require .h_r_row .h_r_row_radio>span{display: inline-block;width: 50%;height: 0.36rem;line-height: 0.36rem;}
.h_require .h_r_row .h_r_row_radio>span>i{display: inline-block;vertical-align: middle;width: 0.22rem;height: 0.22rem;border-radius: 100%;background-color: #bfbfbf;margin-left: 0.2rem;}    
.h_require .h_r_row .h_r_row_radio>span.active>i{background-color: #ff9000;}
.h_require .h_r_row .h_r_row_vilde_code{width:42%;font-size: 0.22rem;display: inline-block;}
.h_require .h_r_row .h_r_row_vilde_code .vilde_code{width:50%;border:none;font-size: 0.22rem;height: 0.36rem;}
.h_require .h_r_row .h_r_row_vilde_code .get_code_btn{width:50%;font-size: 0.2rem;height: 0.45rem;line-height: 0.45rem;background-color: #ff9000;color: #fff;text-align: center;display: inline-block;border-radius: 3px;}

.h_rules{color: #000;font-size: 0.29rem;text-align: center;margin: 0.34rem auto;line-height: 1;}
.h_rules .h_rules_check{margin-right: 0.14rem;display: inline-block;vertical-align: middle;}
.h_rules .h_rules_check>i{display: inline-block;width: 0.26rem;height: 0.26rem;border-radius: 100%;background-color: #bfbfbf;margin-right: 0.14rem;position: relative;top: 0.02rem;}
.h_rules .h_rules_check.active>i{background-color: #ff9000;}       
.h_rules>a{color: #ff9000;font-size: 0.22rem;}
/*精准推送结果*/
.h_push_tips{color: #a7a7a7;padding:0.14rem;font-size: 0.24rem;background-color: #e9e9e9;}
.h_push{background-color: #e9e9e9;}
.h_push_list{font-size: 0.18rem;color: #000;border-bottom: 1px solid #e9e9e9;}
.h_push_list .h_push_item{background-color: #fff;border-radius: 3px;margin: 0 0.14rem 0.36rem;}
.h_push_list .h_push_item .h_push_row_1{overflow: auto;padding:0.15rem 0.04rem 0.04rem 0.15rem;text-align: center;}
.h_push_list .h_push_item .h_push_row_1>div{float: left;}

.h_push_list .h_push_item .h_push_col_1{font-size: 0;width: 17.5%;padding-top: 0.06rem;}
.h_push_list .h_push_item .h_push_img_header{width: 1.05rem;height: 0.24rem;}
.h_push_list .h_push_item .h_push_img_header>img{width:100%;height: 100%;}
.h_push_list .h_push_item .h_push_img_logo{width: 1.05rem;height: 1.02rem;background-color: #5d5d5d;}
.h_push_list .h_push_item .h_push_img_logo>img{width:100%;height: 100%;}

.h_push_list .h_push_item .h_push_col_2{width: 37%;}
.h_push_list .h_push_item .h_push_p_1{font-size: 0.22rem;margin: 0.24rem auto 0.08rem;}
.h_push_list .h_push_item .h_push_p_2{font-size: 0.18rem;color: #585858;}
.h_push_list .h_push_item .h_push_p_3{font-size: 0.18rem;margin-top: 0.12rem;}

.h_push_list .h_push_item .h_push_col_3{width:45.5%;}
.h_push_list .h_push_item .h_push_tr{border-bottom: 1px solid #d1d1d1;}
.h_push_list .h_push_item .h_push_tr:last-child{border-bottom:none;}
.h_push_list .h_push_item .h_push_td{display: inline-block;vertical-align: middle;width: 48%;border-right: 1px solid #d1d1d1;padding:0.08rem 0;}
.h_push_list .h_push_item .h_push_td:last-child{border-right:none;}

.h_push_list .h_push_item .h_push_row_2{font-size: 0.24rem;padding:0 0.18rem;}
.h_push_list .h_push_item .h_push_row_2 .h_max_num{font-size: 0.32rem;color: #ff9000;}
.h_push_list .h_push_item .h_push_row_3{overflow: auto;padding:0 0.16rem 0.12rem;}
.h_push_list .h_push_item .h_push_row_3>span{float: left;display: block;width: 1.04rem;border:2px solid #dbdbdb;border-radius: 0.1rem;text-align: center;padding:0.06rem 0;margin: 0.12rem 0.12rem 0 0;font-size: 0.18rem;color: #dbdbdb;}
.h_push_list .h_push_item .h_push_row_3>span.active{border-color:#ff9000;color: #ff9000;}

