.singlerLogo{
	width: 100%;
	background: url(../images/user_bg.png) 0 0;
	background-size: 100% 100%;
	font-size: .32rem;
	position: relative;
}
.singlerMes{
	width: 92%;
	display: inline-block;
	text-align: right;
	margin:0 4%;
	font-size: .2rem;
	color: white;
	line-height: .8rem;
}

.singlerall p{
	width: 50%;
	float: left;
	text-align: center;
	color: white;
}
.singlerstyle p{
	width: 50%;
	float: left;
	text-align: center;
	color: white;
}
.singlerstyle{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: .6rem;
	line-height: .6rem;
	z-index: 10;
	background: #ff9408;
}
.singlerstyle p:nth-child(1){
	background: #f18a09;
}
.dottitle{
	font-size: .3rem;
	width: 92%;
	margin: 0 4%;
	height: .85rem;
	line-height: .85rem;
	border-bottom: 3px solid #d1d1d1;
}
.dottitle span:nth-child(2){
	color: #ff811c;
	font-size: .4rem;
}
.dottitle{
	font-size: .3rem;
	width: 92%;
	margin: 0 4%;
	height: .85rem;
	line-height: .85rem;
	border-bottom: 3px solid #d1d1d1;
}
.dottitle span:nth-child(2){
	color: #ff811c;
	font-size: .4rem;
}
.dotlist{
	margin-top: .09rem;
}
.dotlist ul{
	content: '';
	overflow: hidden;
	clear: both;	
	font-size: .2rem;
	color: #ff811b;
}
.dotlist ul li{
	width: 16.6%;
	float: left;
	text-align: center;
	margin: .09rem 0;
	box-sizing: border-box;
}
.dotlist li{
	border-right: 2px solid #D1D1D1;
}
.dotlist li:nth-child(1){
	width: 10% !important;
}
.dotlist li:nth-child(2){
	width: 23% !important;
}
.dotproduct,.dotdate,.dotstyle{
	font-size: .24rem;
	color: #010101;
}

